*.synctex.gz
"*.acn"
"*.acr"
"*.alg"
"*.aux"
"*.bbl"
"*.bcf"
"*.blg"
"*.cut"
"*.dvi"
"*.dir"
"*.fdb_latexmk"
"*.fls"
"*.glg"
"*.glo"
"*.gls"
"*.gz"
"*.idx"
"*.ind"
"*.lof"
"*.log"
"*.lot"
"*.ist"
"*.out"
"*.scale"
"*.thm"
"*.toc"
"*.xdv"
"*.xml
